@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:mistyrose;
}

h1{
    font-family: "Lobster", sans-serif;
    
}

h1{
    font-style: italic;
    border: 3px dashed hotpink;
    padding: 1em;
    margin: 2em;

}

header{
    display: flex;
    justify-content: flex-end;
}

h1{
    color: hotpink;
}

.hero{
    background-color: white;
}

section{
    background-color: lightblue;
}

nav ul {
    border: 2px solid purple;
    padding: 1em;
    background-color: thistle;
    display: flex;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    padding: 1em;
}

nav a:hover{
    background-color: plum;
}